<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangako - Your manga store </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>

    <nav data-aos="zoom-in">
        <b class="mobile" >Mangako</b>
        <i class="bi bi-list mobile" onclick="openNav()"></i>
        <i class="bi bi-search mobile"  onclick="openNav()"></i>
        <a href="#">Home</a>
        <a href="#">Trending</a>
        <a onclick="scroller('#latest')">Latest</a>
        <a href="#" onclick="scroller('#bestSales')" >Best Sales</a>
        <a href="#" onclick="scroller('#shipment')" > shipment </a>
        <div class="search">
            <input id="q1" type="text">
            <i class="bi bi-search" onclick="search('#q1')" ></i>
        </div>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <div class="search-mobile">
            <input id="q2" type="text" placeholder="Search for mangas">
            <i class="bi bi-search" onclick="search('#q2')"></i>
        </div>

        <ul>
            <li>Le webtoon love is an illusion arrive en version papier chez Kbooks</li>
            <li>Solo Leveling débarque en romans chez Kbooks
            </li>
            <li>Kbooks nous expliquera Comment devenir la fiancée du Duc
            </li>
            <li>Beyond the Dawn, l'extension de Tales of Arise
            </li>
        </ul>

    </div>

    <div class="sub" id="Trending">
        <ul>
            <li>Le webtoon love is an illusion arrive en version papier chez Kbooks</li>
            <li>Solo Leveling débarque en romans chez Kbooks
            </li>
            <li>Kbooks nous expliquera Comment devenir la fiancée du Duc
            </li>
            <li>Beyond the Dawn, l'extension de Tales of Arise
            </li>
        </ul>
    </div>

    <div id="intro" data-aos="fade-down">
        <div> <b>Mangako</b><hr>THE WORLD'S FAVOURITE MANGA STORE !</div>
    </div>


    <div class="title">THIS WEEK'S LATEST RELEASES</div>

    <div id="latest" class="product-wrapper">
        {% for x in data[0:10] %}
        <a href="manga/{{x['id']}}">
        <div class="product">
            <img src="/static/covers/{{x['image']}}" alt="">
            <p>{{x['title']}} <br><b>{{x['price']}}</b> </p>
        </div>
        </a>
        {% endfor %}
    </div>

    <div class="title">BEST SALES THIS MONTH</div>

    <div  class="product-wrapper"  id="bestSales">
        {% for x in data[10:20] %}
        <a href="manga/{{x['id']}}">
        <div class="product">
            <img src="/static/covers/{{x['image']}}" alt="">
            <p>{{x['title']}} <br><b>{{x['price']}}</b> </p>
        </div>
        </a>
        {% endfor %}
    </div>



    <div id="shipment" data-aos="fade-up">
        <img src="/static/assets/ship.png" alt="">
        <p>- We currently ship to all united states cities and Euro zone countries ,<br>
        If you don't live in the mentioned areas we can send the delivery through Fedex 
        <br>International Priorety <br>
        - Note : all shipments except the fedex internationl are free.
        </p>
    </div>

    <script src="/static/script.js" ></script>

</body>
</html>